.s-section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.s-anim-heading {
    font-weight: 400;
    font-size: 55px;
    padding: 0;
    letter-spacing: -2px;
    line-height: 1.0;
    margin: 0;
    color: rgb(189, 189, 189);
    
    text-decoration: underline;
    text-decoration-color: #f0f0f0;
    text-underline-offset: 5px;
    letter-spacing: 1px;
    text-indent: 10px;  
}
.s-main-heading{
    line-height: 1.2;
    font-weight: 900;
    font-size: 55px;
    padding: 0;
    letter-spacing: -2px;
    margin: 0;
}

.s-desc {
    font-size: 20px;
    width: 570px;
    margin: 0;
}

.s-startBtn {
    background-color: rgb(5, 109, 161);
    border: none;
    border-radius: 80px;
    color: white;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content:center;
    margin-top: 40px;
    padding: 14px 50px;
    cursor: pointer;
}

.s-buttonText {
    margin-left: 10px;
    font-family: "Mukta", sans-serif;
}

.s-btnHeading1 {
    font-size: 15px;
    margin: 0;
}

.s-btnHeading2 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.s-left-div {
    margin-right: 5px;
}

.s-right-div {
    margin-left: 100px;
}

@media screen and (max-width: 991px) {
    .s-section-div {
        flex-direction: column;
    }
    .s-right-div {
        /* margin-left: 0px; */
        margin-top: 50px;
    }
}
@media screen and (max-width: 564px) {
    .s-left-div {
        margin-left: 60px;
    }
}
@media screen and (max-width: 484px) {
    .s-right-div {
        margin-left: 200px;
    }
}